@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

* {
 box-sizing: border-box;
}
 
body {
  display: grid;
  place-items: center;
  min-height: 10vh;
  background: var(--gradient-9);
}

:root {
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}
  
.container {
  width: 50vw;
  height: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 50%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  flex: 1;
}

img:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}
